[submodule "daytradertycoon/public"]
	path = daytradertycoon/public
	url = git@github.com:DayTraderTycoon/daytradertycoon.github.io.git
	branch = main
[submodule "DayTraderTycoon/themes/PaperMod"]
	path = DayTraderTycoon/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
